//Smartphone
@mixin footer-s {
    footer {
        background-color: $color-btn-hover;
        border-top: solid 3px $text-shadow;

        .flex-footer {
            display: flex;
            margin: 25px;
            width: 90%;
            align-items: center;
            justify-content: space-between;
            

            #logoFER-footer {
                width: 90px;
                filter: drop-shadow(0 2px 5px white);
            }

            .info-footer {
                color: white;
                font-size: small;
                text-align: center;
                

                ul {
                    li {
                        i {
                            position: relative;
                            margin-bottom: 5px;
                            margin-right: 3px;
                        }
                    }
                }
            }

            .socialnetwork {
                display: flex;
                flex-direction: column;

                i {
                    color: white;
                    font-size: 1.4rem;
                    padding: 5px;
                }
            }
        }

        .frase-footer {
            color: white;
            margin-left: 2rem;
            margin-right: 2rem;
            font-size: small;
            text-align: center;
        }

        .acordeon-footer {
            display: flex;
            margin-top: 1.5rem;
            margin-bottom: 1rem;
            justify-content: space-around;

            .col-acor-footer {
                ul {
                    margin-bottom: 0.5rem;

                    li {
                        a {
                            color: white;
                            font-size: medium;
                            font-weight: bolder;
                        }

                    }
                }
            }

        }

        .right-footer {
            background-color: $box-shadow;

            p {
                color: white;
                font-size: x-small;
                text-align: center;
            }

        }

        #right-footer-culfer {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;

            p {
                line-height: 0.5px;
            }

        }
    }

}


//Tablet
@mixin footer-t {
    footer {
        background-color: $color-btn-hover;
        border-top: solid 3px $text-shadow;
        

        .flex-footer {
            display: flex;
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 25px;

            div {
                width: 100%;
                height: auto;
                padding: 1rem;
                justify-content: space-around;
                justify-items: center;
                text-align: center;
            }

            #logoFER-footer {
                width: 100px;
                filter: drop-shadow(0 2px 5px white);
                margin: auto;
            }

            .info-footer {
                color: white;
                margin: auto;
                font-size: small;

                ul {
                    text-align: center;

                    li {
                        i {
                            position: relative;
                            margin-right: 10px;
                            margin-bottom: 5px;
                        }
                    }
                }
            }

            .socialnetwork {
                margin: auto;

                i {
                    color: white;
                    font-size: 2rem;
                    padding: 5px;
                }
            }
        }

        .frase-footer {
            color: white;
            margin-left: 2rem;
            margin-right: 2rem;
            font-size: medium;
            text-align: center;
        }

        .acordeon-footer {
            display: flex;
            margin-top: 1.5rem;
            margin-bottom: 1rem;
            justify-content: space-around;
            text-align: center;
            margin-left: 20%;
            margin-right: 20%;

            .col-acor-footer {
                ul {
                    margin-bottom: 0.5rem;

                    li {
                        a {
                            color: white;
                            font-size: medium;
                            font-weight: bolder;
                        }

                    }
                }
            }

        }

        .right-footer {
            background-color: $box-shadow;

            p {
                color: white;
                font-size: small;
                text-align: center;
                margin: 5px;
            }

        }

        #right-footer-culfer {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;

            p {
                line-height: 10px;
            }

        }
    }

}


//Laptop
@mixin footer-l {
    footer {
        background-color: $color-btn-hover;
        border-top: solid 3px $text-shadow;
        

        .flex-footer {
            display: flex;
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 25px;

            div {
                width: 100%;
                height: auto;
                padding: 1rem;
                justify-content: space-around;
                justify-items: center;
                text-align: center;
            }

            #logoFER-footer {
                width: 100px;
                filter: drop-shadow(0 2px 5px white);
                margin: auto;
            }

            .info-footer {
                color: white;
                margin: auto;
                font-size: small;

                ul {
                    text-align: center;

                    li {
                        i {
                            position: relative;
                            margin-right: 10px;
                            margin-bottom: 5px;
                        }
                    }
                }
            }

            .socialnetwork {
                margin: auto;

                i {
                    color: white;
                    font-size: 2rem;
                    padding: 5px;
                }
            }
        }

        .frase-footer {
            color: white;
            margin-left: 2rem;
            margin-right: 2rem;
            font-size: medium;
            text-align: center;
        }

        .acordeon-footer {
            display: flex;
            margin-top: 1.5rem;
            margin-bottom: 1rem;
            justify-content: space-around;
            text-align: center;
            margin-left: 20%;
            margin-right: 20%;

            .col-acor-footer {
                ul {
                    margin-bottom: 0.5rem;

                    li {
                        a {
                            color: white;
                            font-size: medium;
                            font-weight: bolder;
                        }

                    }
                }
            }

        }

        .right-footer {
            background-color: $box-shadow;

            p {
                color: white;
                font-size: small;
                text-align: center;
                margin: 5px;
            }

        }

        #right-footer-culfer {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;

            p {
                line-height: 10px;
            }

        }
    }

}


//Desktop
@mixin footer-d {
    footer {
        background-color: $color-btn-hover;
        border-top: solid 3px $text-shadow;

        .flex-footer {
            display: flex;
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 25px;

            div {
                width: 100%;
                height: auto;
                padding: 1rem;
                justify-content: space-around;
                justify-items: center;
                text-align: center;
            }

            #logoFER-footer {
                width: 100px;
                filter: drop-shadow(0 2px 5px white);
                margin: auto;
            }

            .info-footer {
                color: white;
                margin: auto;
                font-size: .9rem;
                flex-basis: 200%;

                ul {
                    display: flex;
                    justify-content: space-evenly;
                    padding: 2px;

                    li {
                        i {
                            position: relative;
                            margin-right: 10px;
                            margin-bottom: 5px;
                        }
                    }
                }
            }

            .socialnetwork {
                margin: auto;

                i {
                    color: white;
                    font-size: 3rem;
                    padding: 5px;
                }
            }
        }

        .frase-footer {
            color: white;
            margin-left: 2rem;
            margin-right: 2rem;
            font-size: medium;
            text-align: center;
        }

        .acordeon-footer {
            display: flex;
            margin-top: 1.5rem;
            margin-bottom: 1rem;
            justify-content: space-around;
            text-align: center;
            margin-left: 20%;
            margin-right: 20%;

            .col-acor-footer {
                ul {
                    margin-bottom: 0.5rem;

                    li {
                        a {
                            color: white;
                            font-size: medium;
                            font-weight: bolder;
                        }

                    }
                }
            }

        }

        .right-footer {
            background-color: $box-shadow;

            p {
                color: white;
                font-size: small;
                text-align: center;
                margin: 5px;
            }

        }

        #right-footer-culfer {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;

            p {
                line-height: 10px;
            }

        }
    }

}